.picture-frame {
  height: 612px; /* Höhe eines einzelnen Bildes */
  width: 612px;  /* Breite eines einzelnen Bildes */
  overflow: hidden;
  margin: 50px auto;
  position: relative;
}

.film-roll {
  width: 1836px; /* Die Breite eines Bildes mal 3 */
  position: absolute;
  left: 0px;
  top: 0px;
}

img {
  float: left;
}
